<!DOCTYPE html>
<html>

<head>
    <title>Nitro Cart - an eCom Hub!</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/custom.css" />
    <script src="js/angular.min.js"></script>
    <script src="js/maincontroller.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body ng-app="nitroApp">
    <div class="container-fluid">
        <nav class="top-nav">
            <div class="nav-wrapper purple darken-1">
                <a href="#" class="brand-logo center page-title">Nitro Cart - an eCom Hub!</a>
            </div>
            <div class="nav-wrapper purple darken-1">
                <div class="row center-align container">
                    <div class="card purple lighten-4 col s10">
                        <div class="input-field">
                            <i class="material-icons prefix">search</i>
                            <input id="search" ng-model="searchText" placeholder="Search(by Title,Tags)" type="text" class="validate">
                        </div>
                    </div>
                    <div class="card purple lighten-4 col s2">
                        <a class="waves-effect waves-light btn">Search</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="main-content">
        <div class="carousel carousel-slider center" data-indicators="true">
            <div class="carousel-item red white-text" href="#one!">
                <img src="slide1.jpg">
            </div>
            <div class="carousel-item amber white-text" href="#two!">
                <img src="slide2.jpg">
            </div>
            <div class="carousel-item green white-text" href="#three!">
                <img src="slide3.jpg">
            </div>
            <div class="carousel-item blue white-text" href="#four!">
                <img src="slide4.jpg">
            </div>
        </div>
    </div>
    <div class="items-background" ng-controller="itemsController">
        <div class="container">
            <div class="row ">
                <div class="col s12 ">
                    <div class="card purple darken-1">
                        <div class="card-content white-text">
                           Filter By :
                                <input class="with-gap white-text" ng-model="sortByRating" name="rating" type="radio" id="rating" />
                                <label for="rating" class="white-text">Rating</label>
                                <input class="with-gap white-text" name="like" type="radio" id="like" />
                                <label for="like" class="white-text">Like</label>
                                <div class="white-text right-align ">
                           
                        </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            </p>
        </div>
        <div class="container items-content" ng-controller="itemsController">
            <div class="row">
                <div class="col s6" ng-repeat="items in itemList | filter:searchText | orderBy:sortByRating ">
                    <div class="card horizontal hoverable">
                        <div class="card-image items-widget">
                            <img class="item.image" src={{items.img_src}}>
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                            <a href="#modal1"> {{items.item_name}}</a>
                                <br/> Purchased by :{{items.purchased_count}}
                                <br/>
                                <div class="row">
                                    <div class="col s6">
                                        <i class="fa fa-inr" aria-hidden="true"></i>{{items.price}}
                                    </div>
                                    <div class="col s6" ng-controller="ratingController">
                                        <i ng-repeat="star in getStars(stars) track by $index" class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <i class="fa fa-tag" aria-hidden="true"></i>{{items.tags}}
                                <br>
                                <i class="fa fa-link" aria-hidden="true"></i>
                                <a href={{items.link}} target="_blank">{{items.link}}</a>
                            </div>
                            <div class="card-action">
                                <i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i>
                                <a href="#" style="font-size: 15px;">Add to Cart</a>
                                <i class="fa fa-thumbs-o-up fa-3x" aria-hidden="true"></i>{{items.likes}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer purple darken-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Nitro Cart</h5>
                    <p class="grey-text text-lighten-4">An eCom Hub for all essential needs</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Designed by using</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://angularjs.org/">Angular JS</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://materializecss.com/">Material CSS</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 Selvaganesh Rajam
                <a class="grey-text text-lighten-4 right" href="https://github.com/ganny26/NitroCart"><i class="fa fa-github fa-2x" aria-hidden="true"></i>GitHub</a>
            </div>
        </div>
    </footer>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="js/jquery-2.2.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="js/mainscript.js"></script>
</body>

</html>
