<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
<title>Dropzone simple example</title>
</head>

<!--
  DO NOT SIMPLY COPY THOSE LINES. Download the JS and CSS files from the
  latest release (https://github.com/enyo/dropzone/releases/latest), and
  host them yourself!
-->
<body>
<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">


<p>
  This is the most minimal example of Dropzone. The upload in this example
  doesn't work, because there is no actual server to handle the file upload.
</p>

<!-- Change /upload-target to your upload address -->
<form action="/fileupload" method="post" class="dropzone">
  <div class="fallback">
    <input name="file" type="file" />
  </div>
</form>

</script>
</body>
</html>